@use '../scss/variables' as *;  // Imports variables
@use '../scss/mixins' as *;     // Imports mixins

form {
    textarea,
    input {
        border: none;
        background: transparent;
        @include border-basic;
        outline: none;
        color: #fff;
        font-size: 20px;
        border-radius: var(--border-radius-input);
        @include transition;
        width: 100%;
        padding: 0.9rem 1.1rem;
        &::placeholder {
            color: var(--color-primary-light);
        }
        &:focus {
            @include border-focus();
            &::placeholder {
                color: transparent;
            }
        }
        @media only screen and (min-width:1024px) {
            padding: 1rem 1.5rem;
        }
    }
    button[type="submit"] {
        box-shadow: none;
        background: transparent;
        color: #fff;
        border: none;
        @include border-basic;
        @include transition;
        &:hover {
            @include border-focus;
        }
    }
}