.auth__popup{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.98);
    z-index: 100;
    display: none;
    form{
        display: flex;
        flex-direction: column;
        grid-gap: 1.2rem;
    }
    &.active{
        display: flex;
    }
}


.header__user{
    a{
        color: #fff;
    }
}