// box-main mixin
@mixin box-main {
    background: lch(50.67 15.89 272.97 / 0.08);
    border-radius: var(--border-radius-box);
    padding: 1rem;
    
    //@media only screen and (min-width: 1024px) {
      //  padding: 1.2rem 1.4rem;
    //}
}

// border-basic mixin
@mixin border-basic {
    box-shadow: inset 0 0 0 2px var(--color-border-basic);
}

// border-focus mixin (fixed the $color variable usage)
@mixin border-focus {
    box-shadow: inset 0 0 0 2px var(--color-border-focus);
}

// transition mixin
@mixin transition {
    transition: 0.3s ease;
}

// layout-1024 mixin
@mixin layout-1024 {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


$tablet: "only screen and (min-width:1024px)";
$smartphone: "only screen and (min-width:600px)";