html,
body {
    font-size: 17px;
    line-height: 1.5;
    font-family: var(--primary-font);
    @media only screen and (min-width:1024px) {
        font-size: 20px;
    }
}
body {
    margin: 0;
    background: var(--color-primary);
    color: #fff;
}
* {
    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }
}
::-webkit-scrollbar {
    background: transparent;
    width: 6px;
    position: relative;
}
::-webkit-scrollbar-thumb {
    background: #556183;
}
::selection {
    background: #556183;
    color: #fff;
}